#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    background-color: rgba($black, 0.9);
    overflow: hidden;
    z-index: $zModal;
    
    &.show {
        display: block;
    }

    &.show + div {
        filter: blur(5px);
    }
}

#modal-close {
    width: 100%;
    margin: 5px auto;
    text-align: center;
}

#fullSize {
    @include absoluteCenter();
}

#fullSize img {
    max-width: 80vw;
    max-height: 90vh;
    object-fit: contain;
    font-family: 'object-fit: contain;';
}