$black: rgb(0, 0, 0);
$dark-grey: rgb(70, 70, 70);
$white: rgb(255, 255, 255);



@mixin absoluteCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@import 'base';
@import 'intro';
@import 'search-header';

#results {
    display: flex;
    flex-flow: wrap;
    padding-top: 65px;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    background-color: rgba($black, 0.9);
    overflow: hidden;
    z-index: 10;
}

#modal.show {
    display: block;
}

#modal.show + div {
    filter: blur(5px);
}

#modal-close:before {
    content: "x";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 15px;
    color: $white;
    font: 500 30px/1 'Arial';
    cursor: pointer;
}

#fullSize {
    @include absoluteCenter();
}

#fullSize img {
    max-width: 80vw;
    max-height: 90vh;
    object-fit: contain;
    font-family: 'object-fit: contain;';
}

.thumbnail {
    height: 100px;
    margin: 4px;
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.thumbnail:hover:before {
    content: "";
    position: absolute;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: rgba($white, 0.3);
}

.thumbnail:hover:after {
    content: "+";
    @include absoluteCenter();
    font-size: 2rem;
    font-weight: 900;
    color: $white;
    text-shadow: 1px 2px 3px rgba($black, 0.7);
}

.thumbnail img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    font-family: 'object-fit: contain;';
}